* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Arial', sans-serif;
    background-color: #171717;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 768px) {
        font-size: 87.5%;
    }
}

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4.5ch;
}

@media (max-width: 800px) {
    .subtitulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}


/* CSS SCROLL */

::-webkit-scrollbar {
    width: 0.6rem !important
}

::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
}

::-webkit-scrollbar-thumb {
    background: #A839FF !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #A839FF !important;
}


/* FIM CSS SCROLL */