* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Arial', sans-serif;
    background-color: var(--background-color);
}

:root {
    --background-color: #171717;
    --color-header-menu: #fff;
    --color-title: #fff;
    --color-header-btn-saiba: #fff;
    --color-title-sobre: #fff;
    --color-sobre-span: #f7f7f7;
    --color-title-contato: #fff;
    --color-sub-contato: #b7b7b7;
    --color-title-experiencia: #717171;
    --color-title-formacao: #000000;
}

.dark-mode:root {
    --background-color: #F4F4F4;
    --color-header-menu: #525252;
    --color-title: #525252;
    --color-header-btn-saiba: #525252;
    --color-title-sobre: #525252;
    --color-sobre-span: #525252;
    --color-title-contato: #525252;
    --color-sub-contato: #878787;
    --color-title-experiencia: #717171;
    --color-title-formacao: #F4F4F4;
}

html {
    scroll-behavior: smooth;
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }
    @media (max-width: 768px) {
        font-size: 87.5%;
    }
}

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.subtitulo-formacao {
    color: var(--color-title-formacao);
}

.subtitulo-experiencia {
    color: var(--color-title-experiencia)
}

.subtitulo-formacao,
.subtitulo-experiencia {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4.5ch;
}

@media (max-width: 800px) {
    .subtitulo-formacao,
    .subtitulo-experiencia {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}


/* CSS SCROLL */

::-webkit-scrollbar {
    width: 0.6rem !important
}

::-webkit-scrollbar-track {
    background: #e1e1e1 !important;
}

::-webkit-scrollbar-thumb {
    background: #A839FF !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #A839FF !important;
}


/* FIM CSS SCROLL */