header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    transition: .5s;
    .header-container {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0 5rem;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
        span {
            img {
                width: 80%;
            }
        }
        button {
            display: grid;
            max-width: 3rem;
            cursor: pointer;
            border: none;
            grid-template-rows: repeat(1fr);
            gap: .2rem;
            padding: 1rem;
            background: #9f00f5;
            border-radius: .2rem;
            box-shadow: 0px 0px 30px -5px rgb(159, 0, 245);
            span {
                width: 1rem;
                border: 1px solid #fff;
            }
        }
    }
}

header.headerScroll {
    background-color: rgb(33, 33, 33, 99%);
}

@media (max-width: 800px) {
    header {
        .header-container {
            padding: 0 2rem;
            img {
                max-width: 70%;
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        .header-container {
            padding: 0 1rem;
        }
    }
}