header {
    display: flex;
    justify-content: space-between;
    padding: 5vh 2rem;
    max-width: 1300px;
    max-height: 10vh;
    margin: 0 auto;
    align-items: center;
    span {
        img {
            display: flex;
        }
    }
    button {
        display: grid;
        cursor: pointer;
        border: none;
        position: fixed;
        right: 3rem;
        grid-template-rows: repeat(1fr);
        gap: .2rem;
        padding: 1rem;
        background: #9f00f5;
        border-radius: .2rem;
        box-shadow: 0px 0px 30px -5px rgb(159, 0, 245);
        z-index: 2000;
        span {
            width: 1rem;
            border: 1px solid #fff;
        }
    }
}

#btn-menu-header.btn-menu-header-scroll {
    background: #9f00f5de;
    border-radius: .2rem;
    box-shadow: 0px 0px 30px -5px rgba(159, 0, 245, 0.726);
    z-index: 2000;
    span {
        width: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.651);
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        gap: 3rem;
        ul li a {
            background-color: #b1b1b11c;
            border-radius: 0.5rem;
        }
    }
}