main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1300px;
    padding: 0 5rem;
    margin: 0 auto;
    height: calc(100vh - 10em);
    .main-div-title {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
            font-size: 2.5rem;
            color: #fff;
        }
        span {
            font-size: 1.2rem;
            color: #b1b1b1;
        }
        .main-div-btn {
            display: flex;
            gap: 1rem;
            .btn-download {
                display: flex;
                text-decoration: none;
                padding: 1rem 2rem;
                background-color: #A839FF;
                color: #fff;
                &:hover {
                    filter: brightness(80%);
                }
            }
            .btn-saibaMais {
                display: flex;
                text-decoration: none;
                padding: 1rem 2rem;
                font-size: 1rem;
                color: #fff;
                border: 1px solid #fff;
                &:hover {
                    filter: brightness(80%);
                    border-color: #A839FF;
                    color: #A839FF;
                }
            }
        }
    }
    img {
        width: max-content;
        height: fit-content;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        .main-div-title {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

@media (max-width: 500px) {
    main {
        padding: 0.5rem;
    }
}