<div class="section-sobre">
    <h2>Sobre mim</h2>
    <p>Desenvolvo pequenos projetos como o Bikcraft utilizando apenas <span>HTML</span>, <span>CSS</span> e <span>JavaScript</span>. Para aplicativos web como a rede social Dogs eu trabalhei no <span>UX</span> e <span>UI Design</span> do projeto.</p>
</div>
<div class="section-card-work" id="sobre">
    <div class="card-word">
        <img src="../assets/web-design.svg" alt="Web Design">
        <h2>Web Design</h2>
    </div>
    <div class="card-word border-bottom-card">
        <img src="../assets/dev-developer.svg" alt="Web Development">
        <h2>Web Development</h2>
    </div>
    <div class="card-word ">
        <img src="../assets/software-developer.svg" alt="Software Development">
        <h2>Software Development</h2>
    </div>
</div>
<div class="section-contato">
    <ul>
        <li>
            <span>Nome</span>
            <a href="">Leonardo M. Schellenberg</a>
        </li>
        <li>
            <span>E-mail</span>
            <a href="mailto:leonardo.schellenberg@hotmail.com">leonardo.schellenberg@hotmail.com</a>
        </li>
        <li>
            <span>Linkedln</span>
            <a href="https://www.linkedin.com/in/leonardo-martins-schellenberg/" target="_blank">@Leonardo.schellenberg</a>
        </li>
        <li>
            <span>Telefone</span>
            <a href="https://wa.me/55027999077899">(027) 9 9907-7899</a>
        </li>
    </ul>
</div>
<div class="section-experiencia" id="experiencia" aria-label="Experiência">
    <h2 class="subtitulo">Experiência</h2>
    <div>
        <div class="empresa">
            <span class="empresa-ano">2045</span>
            <h3 class="empresa-titulo">Bikcraft</h3>
            <span class="empresa-titulo">Desenvolvedor Júnior</span>
            <p class="empresa-texto">No projeto Bikcraft eu trabalhei no desenvolvimento completo do HTML, CSS e JavaScript do site. Além disso, também prestei consultoria no Design.</p>
            <ul class="empresa-habilidades">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>UX Design</li>
                <li>UI Design</li>
            </ul>
        </div>

        <div class="empresa">
            <span class="empresa-ano">2044-45</span>
            <h3 class="empresa-titulo">Surfbot</h3>
            <span class="empresa-titulo">Estagiário</span>
            <p class="empresa-texto">Surfbot é uma empresa que oferece aulas de surf no Rio de Janeiro. O projeto foi feito com HTML, CSS e JavaScript. Todo o projeto foi feito do zero.</p>
            <ul class="empresa-habilidades">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
            </ul>
        </div>

        <div class="empresa">
            <span class="empresa-ano">2044</span>
            <h3 class="empresa-titulo">Brafé</h3>
            <span class="empresa-titulo">Desenvolvedor Júnior</span>
            <p class="empresa-texto">Mais de 3 projetos foram desenvolvidos para a empresa Brafé. Eu trabalhei na criação do email marketing e também no HTML.</p>
            <ul class="empresa-habilidades">
                <li>Email Marketing</li>
                <li>HTML</li>
                <li>UX Design</li>
                <li>UI Design</li>
            </ul>
        </div>
    </div>
</div>