<div class="section-sobre">
    <h2>Sobre mim</h2>
    <p>Desenvolvo pequenos projetos utilizando <span>HTML</span>, <span>CSS</span> e <span>JavaScript</span>, e tambem utilizando frameworks atuais de mercado como <span>Angular</span> e <span>React</span>, e aplicando os conceitos de
        <span>UX</span> e <span>UI Design</span>.</p>
</div>
<div class="section-card-work" id="sobre">
    <div class="card-word">
        <img src="../assets/web-design.svg" alt="Web Design">
        <h2>Web Design</h2>
    </div>
    <div class="card-word border-bottom-card">
        <img src="../assets/dev-developer.svg" alt="Web Development">
        <h2>Web Development</h2>
    </div>
    <div class="card-word ">
        <img src="../assets/software-developer.svg" alt="Software Development">
        <h2>Software Development</h2>
    </div>
</div>
<div class="section-contato">
    <ul>
        <li>
            <a class="testeSVG" href="https://www.linkedin.com/in/leonardo-martins-schellenberg/" target="_blank">
                <img src="../assets/facebook.svg" alt="TESTE">
            </a>
        </li>
        <li>
            <a href="https://wa.me/55027999077899" target="_blank">
            </a>
        </li>
        <li>
            <a href="mailto:leonardo.schellenberg@hotmail.com" target="_blank">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/leonardo.schellenberg" target="_blank">
            </a>
        </li>
    </ul>
</div>
<div class="section-experiencia" id="experiencia" aria-label="Experiência">
    <h2 class="subtitulo-experiencia">Experiência</h2>
    <div id="cards-exp">
    </div>
</div>